<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BUY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{858,614}</string>
                <key>spriteSourceSize</key>
                <string>{858,614}</string>
                <key>textureRect</key>
                <string>{{1,359},{858,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,96}</string>
                <key>textureRect</key>
                <string>{{135,1},{147,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,96}</string>
                <key>spriteSourceSize</key>
                <string>{147,96}</string>
                <key>textureRect</key>
                <string>{{284,1},{147,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,63}</string>
                <key>textureRect</key>
                <string>{{64,1},{69,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starspark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{370,356}</string>
                <key>spriteSourceSize</key>
                <string>{370,366}</string>
                <key>textureRect</key>
                <string>{{433,1},{370,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,57}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{1,1},{61,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stpr_buy_feature.png</string>
            <key>size</key>
            <string>{860,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640a9161bc04711803202771b3154943:ba71fb6cedcd109066c0f761ba2edaf1:3e06c556d05dd980c06daff374f98088$</string>
            <key>textureFileName</key>
            <string>stpr_buy_feature.png</string>
        </dict>
    </dict>
</plist>
