<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>images/winframe_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,198},{179,195}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,198},{179,195}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,3},{179,194}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,3},{179,194}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,199},{180,194}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,199},{180,194}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{181,196}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,197},{181,196}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1},{178,195}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,1},{178,195}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,195}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,195}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,199},{180,194}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{546,199},{180,194}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
			<key>images/winframe_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,0},{179,195}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,0},{179,195}}</string>
				<key>sourceSize</key>
				<string>{188,206}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>gool_winframe.png</string>
			<key>size</key>
			<string>{726,393}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>gool_winframe.png</string>
		</dict>
	</dict>
</plist>
