<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bet-arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{385,736},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bet-button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,158}</string>
                <key>spriteSourceSize</key>
                <string>{159,158}</string>
                <key>textureRect</key>
                <string>{{571,585},{159,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon-AutoPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{1,747},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon-Hamburger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{129,747},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon-Minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{126,128}</string>
                <key>textureRect</key>
                <string>{{257,747},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jackpot-Grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{129,48}</string>
                <key>spriteSourceSize</key>
                <string>{129,50}</string>
                <key>textureRect</key>
                <string>{{503,798},{129,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jackpot-Major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{106,50}</string>
                <key>textureRect</key>
                <string>{{717,249},{106,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jackpot-Mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{70,50}</string>
                <key>textureRect</key>
                <string>{{717,357},{70,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Jackpot-Minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{106,44}</string>
                <key>spriteSourceSize</key>
                <string>{118,50}</string>
                <key>textureRect</key>
                <string>{{385,842},{106,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jackpot-base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,45}</string>
                <key>spriteSourceSize</key>
                <string>{353,45}</string>
                <key>textureRect</key>
                <string>{{342,538},{353,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{339,207}</string>
                <key>spriteSourceSize</key>
                <string>{343,221}</string>
                <key>textureRect</key>
                <string>{{1,538},{339,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buyFree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,149}</string>
                <key>spriteSourceSize</key>
                <string>{229,149}</string>
                <key>textureRect</key>
                <string>{{342,585},{227,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,48}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{634,798},{60,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>freeMul.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{211,246}</string>
                <key>spriteSourceSize</key>
                <string>{215,264}</string>
                <key>textureRect</key>
                <string>{{539,1},{211,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_myoutmoney.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,51}</string>
                <key>spriteSourceSize</key>
                <string>{187,51}</string>
                <key>textureRect</key>
                <string>{{503,745},{187,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,46}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{692,745},{58,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{536,436}</string>
                <key>spriteSourceSize</key>
                <string>{668,440}</string>
                <key>textureRect</key>
                <string>{{1,1},{536,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{60,56}</string>
                <key>textureRect</key>
                <string>{{696,793},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_id.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{176,168}</string>
                <key>textureRect</key>
                <string>{{539,249},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{736,97}</string>
                <key>spriteSourceSize</key>
                <string>{744,97}</string>
                <key>textureRect</key>
                <string>{{1,439},{736,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>WukongUI.png</string>
            <key>size</key>
            <string>{762,887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc303fffaaaa2de4dfa834a44032bee:a62c5afa9b1fe322251b9f7c5d7ba2c6:1482b2a96d7aa8d73893d3d29f4bcd9a$</string>
            <key>textureFileName</key>
            <string>WukongUI.png</string>
        </dict>
    </dict>
</plist>
