<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,225}</string>
                <key>spriteSourceSize</key>
                <string>{192,225}</string>
                <key>textureRect</key>
                <string>{{459,343},{190,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,260}</string>
                <key>spriteSourceSize</key>
                <string>{220,260}</string>
                <key>textureRect</key>
                <string>{{686,355},{220,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,163}</string>
                <key>spriteSourceSize</key>
                <string>{201,163}</string>
                <key>textureRect</key>
                <string>{{214,1},{201,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,163}</string>
                <key>spriteSourceSize</key>
                <string>{201,163}</string>
                <key>textureRect</key>
                <string>{{417,1},{201,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,163}</string>
                <key>spriteSourceSize</key>
                <string>{201,163}</string>
                <key>textureRect</key>
                <string>{{620,1},{201,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,163}</string>
                <key>spriteSourceSize</key>
                <string>{201,163}</string>
                <key>textureRect</key>
                <string>{{1,151},{201,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,185}</string>
                <key>spriteSourceSize</key>
                <string>{212,185}</string>
                <key>textureRect</key>
                <string>{{245,343},{212,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{242,178}</string>
                <key>spriteSourceSize</key>
                <string>{260,190}</string>
                <key>textureRect</key>
                <string>{{1,343},{242,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,211}</string>
                <key>spriteSourceSize</key>
                <string>{148,211}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,175}</string>
                <key>textureRect</key>
                <string>{{823,1},{190,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,175}</string>
                <key>textureRect</key>
                <string>{{204,166},{190,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,175}</string>
                <key>textureRect</key>
                <string>{{396,166},{190,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,175}</string>
                <key>textureRect</key>
                <string>{{588,166},{190,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,175}</string>
                <key>textureRect</key>
                <string>{{780,178},{190,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>awards.png</string>
            <key>size</key>
            <string>{1014,576}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:190c09b3d2558b3bba42313ceacbe3d1:121566810fe72774c8342ba8d5db2535:387913d8d79e1d4ee77d213979a2804a$</string>
            <key>textureFileName</key>
            <string>awards.png</string>
        </dict>
    </dict>
</plist>
