<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,57}</string>
                <key>spriteSourceSize</key>
                <string>{104,57}</string>
                <key>textureRect</key>
                <string>{{1721,1165},{104,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01btn_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,58}</string>
                <key>spriteSourceSize</key>
                <string>{105,58}</string>
                <key>textureRect</key>
                <string>{{1721,1058},{105,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>01text_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,151}</string>
                <key>textureRect</key>
                <string>{{1073,1342},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1388,1342},{79,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02btn_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,69}</string>
                <key>spriteSourceSize</key>
                <string>{68,69}</string>
                <key>textureRect</key>
                <string>{{995,1342},{68,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03btn_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{1226,1342},{80,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03btn_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{1307,1342},{80,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{78,77}</string>
                <key>textureRect</key>
                <string>{{1468,1342},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>04btn_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,63}</string>
                <key>spriteSourceSize</key>
                <string>{65,63}</string>
                <key>textureRect</key>
                <string>{{1721,991},{65,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club_tip_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,47}</string>
                <key>textureRect</key>
                <string>{{1547,1342},{168,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clublobby_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,39}</string>
                <key>spriteSourceSize</key>
                <string>{102,39}</string>
                <key>textureRect</key>
                <string>{{969,1464},{102,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clublobby_l_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,49}</string>
                <key>spriteSourceSize</key>
                <string>{206,49}</string>
                <key>textureRect</key>
                <string>{{1226,1424},{206,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clublobby_l_g_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,53}</string>
                <key>spriteSourceSize</key>
                <string>{222,53}</string>
                <key>textureRect</key>
                <string>{{1721,1271},{222,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clublobby_number_l_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,3}</string>
                <key>spriteSourceSize</key>
                <string>{606,3}</string>
                <key>textureRect</key>
                <string>{{1073,1495},{606,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clublobby_number_s_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,5}</string>
                <key>spriteSourceSize</key>
                <string>{90,5}</string>
                <key>textureRect</key>
                <string>{{1776,1271},{90,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clublobby_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,48}</string>
                <key>spriteSourceSize</key>
                <string>{280,48}</string>
                <key>textureRect</key>
                <string>{{1434,1423},{280,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>createroom_rbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,349}</string>
                <key>spriteSourceSize</key>
                <string>{724,349}</string>
                <key>textureRect</key>
                <string>{{995,991},{724,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal_X_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{927,1464},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal_l_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1783,988}</string>
                <key>spriteSourceSize</key>
                <string>{1783,988}</string>
                <key>textureRect</key>
                <string>{{1,1},{1783,988}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>modal_title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{471,66}</string>
                <key>spriteSourceSize</key>
                <string>{471,66}</string>
                <key>textureRect</key>
                <string>{{927,991},{471,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>modal_xl_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{924,512}</string>
                <key>spriteSourceSize</key>
                <string>{924,512}</string>
                <key>textureRect</key>
                <string>{{1,991},{924,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>共用彈窗.png</string>
            <key>size</key>
            <string>{1785,1505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f38504430e432d8892487de37b2b6a92:d652a0794aea7fbc289b5569cd2186ba:b8e2ac360ab1d5ed7a9a5cafaf63e737$</string>
            <key>textureFileName</key>
            <string>共用彈窗.png</string>
        </dict>
    </dict>
</plist>
