<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_id.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,168}</string>
                <key>spriteSourceSize</key>
                <string>{176,168}</string>
                <key>textureRect</key>
                <string>{{1,15},{176,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_id_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,143}</string>
                <key>spriteSourceSize</key>
                <string>{150,143}</string>
                <key>textureRect</key>
                <string>{{179,15},{150,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_music_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,12}</string>
                <key>spriteSourceSize</key>
                <string>{336,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_music_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,69}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{179,160},{69,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1,185},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>大廳_設定.png</string>
            <key>size</key>
            <string>{338,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75f8aeab1cc6b0faaa6af425cf7fe4b5:1d42d75713dbb4818d97fa11b871f68a:16da65f20d2764e97cc93b799c9e7a52$</string>
            <key>textureFileName</key>
            <string>大廳_設定.png</string>
        </dict>
    </dict>
</plist>
